.div-dbdh {
    width: 100%;
    display: flex;
    /* display: flex;实现flex弹性布局 */
    position: absolute;
    left: 0;
    bottom: 0;
}

ul.breadcrumb {
    margin-left: 30px;
    display: inline-block;
    list-style: none;
}

ul.breadcrumb li {
    float: right;
    padding: 5px;
    background-color: rgba(1, 5, 9, 0.9);
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
    position: relative;
    margin-left: -30px;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    margin-top: 3px;
}

ul.breadcrumb li a {
    overflow: hidden;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    text-decoration: none;
    height: 30px;
    color: rgba(233, 233, 233, 0.8);
    background-color: rgba(18, 18, 18, 0.8);
    text-align: center;
    min-width: 30px;
    display: block;
    line-height: 30px;
    padding-left: 31px;
    padding-right: 21px;
    width: 30px;
}

ul.breadcrumb li a .icon {
    display: inline-block;
}

ul.breadcrumb li a .text {
    display: none;
    opacity: 0;
}

ul.breadcrumb li a:hover {
    width: 100px;
    background-color: #525252;
}

ul.breadcrumb li a:hover .text {
    display: inline-block;
    opacity: 1;
}

ul.breadcrumb li:last-child a {
    padding: 0;
}