* {
	color: slategrey;
	padding: 0;
	margin: 0;
}

body {
	width: 50%;
	margin: 10px auto;
	padding-left: 5px;
	background-color: #efeeee;
}

#one {
	width: 30%;
	height: 20px;
	margin: 10px auto;
	text-align: center;
	align-items: center;
	border: none;
	outline: none;
	color: #ccc;
	border-radius: 10px;
	transition: all 0.5s ease-out;
}

textarea {
	width: 97%;
	height: auto;
	resize: none;
	text-align: center;
	margin-top: 11px;
	border: none;
	outline: none;
	background: transparent;
}

#container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}

#container .box {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	width: 100px;
	height: 140px;
	margin: 10px;
	cursor: pointer;
}

#container .box .img {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	height: 100px;
	border-radius: 10px;
	transition: all 0.5s ease-out;
}

#container .box .img:hover {
	border-radius: 10px;
	box-shadow: 9px 9px 15px rgba(0, 0, 0, 0.2),
		-9px -9px 15px rgba(255, 255, 255, 1);
	transition: all 0.5s ease-out;
}

#container .box .img:active {
	box-shadow: 0 0 0 rgba(0, 0, 0, 0.2), 0 0 0 rgba(255, 255, 255, 0.8),
		inset 9px 9px 15px rgba(0, 0, 0, 0.1),
		inset -9px -9px 15px rgba(255, 255, 255, 1);
	transition: all 0.1s ease-out;
}

#container .box .img img {
	width: 60px;
	transition: all 0.5s ease-out;
}

#container .box .img:hover img {
	width: 63px;
	transition: all 0.5s ease-out;
}

#container .box .img:active img {
	width: 58px;
	transition: all 0.1s ease-out;
}

.inputx {
	width: 70%;
	line-height: 17px;
	height: 17px;
	font: 16px/9px arial;
	margin: 10px 0;
	padding: 10px 33px 10px 13px;
	border-radius: 10px 0 0 10px;
	background: transparent;
	border: none;
	outline: none;
	transition: all 0.5s ease-out;
}

.inputx:valid,
.inputx:focus,
.inputx:hover {
	box-shadow: 0 0 0 rgba(0, 0, 0, 0.2), 0 0 0 rgba(255, 255, 255, 0.8),
		inset 9px 9px 15px rgba(0, 0, 0, 0.1),
		inset -9px -9px 15px rgba(255, 255, 255, 1);
	transition: all 0.5s ease-out;
}

[type="button"] {
	cursor: pointer;
	margin: 10px 0;
	width: 13%;
	height: 39px;
	border-radius: 0 10px 10px 0;
	font: 16px/9px arial;
	font-size: 17px;
	color: #ccc;
	border: none;
	outline: none;
	transition: all 0.5s ease-out;
}

[type="button"]:hover,
[type="button"]:focus,
#one:focus,
#one:hover {
	color: slategrey;
	box-shadow: 9px 9px 15px rgba(34, 23, 23, 0.2),
		-9px -9px 15px rgba(255, 255, 255, 1);
	transition: all 0.5s ease-out;
}

[type="button"]:active,
#one:active {
	box-shadow: 0 0 0 rgba(0, 0, 0, 0.2), 0 0 0 rgba(255, 255, 255, 0.8),
		inset 9px 9px 15px rgba(0, 0, 0, 0.1),
		inset -9px -9px 15px rgba(255, 255, 255, 1);
	transition: all 0.1s ease-out;
}
