/* 星号可以定义所有元素的样式 */

* {
    border: 0px;
    /*去除边框*/
    padding: 0px;
    /*去除内边距*/
    margin: 0px;
    /*去除外边距*/
    background-position: center;
    /* 背景图片居中显示 */
}

html {
    height: 100%;
    background-image: -webkit-radial-gradient(ellipse farthest-corner at center top, #000d4d 0%, #000105 100%);
    background-image: radial-gradient(ellipse farthest-corner at center top, #000d4d 0%, #000105 100%);
    /* cursor: move; */
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
    /* background-image: url("images/221923120818963975.jpg"); */
}

.div-sjk {
    width: 100%;
    display: flex;
    /* display: flex;实现flex弹性布局 */
    justify-content: center;
    /* justify-content: center;让内容水平居中对齐 */
    align-items: center;
    /* align-items: center;让内容垂直居中对齐 */
}

.div-sjk .div-dhk {
    width: 183px;
    height: 83px;
    border: 1px solid #000;
    overflow: hidden;
    box-shadow: rgb(8, 8, 8) 0 0 35px;
}

.div-sjk .div-dhk:hover #rq {
    transform: rotate(0deg);
    /* 鼠标经过动画框转动日期框以显示日期 */
}

.div-sjk .div-dhk #cg {
    width: 183px;
    height: 83px;
    font-size: 70px;
    line-height: 83px;
    text-align: center;
    color: rgba(233, 233, 233, 0.8);
    background-color: rgba(18, 18, 18, 0.8);
}

.div-sjk .div-dhk #rq {
    width: 183px;
    height: 83px;
    text-align: center;
    position: relative;
    /* 上下两行代码让其可以与时间框重叠*/
    top: -83px;
    background-color: rgb(9, 9, 9);
    transform: rotate(180deg);
    transform-origin: left bottom;
    transition: all 0.5s;
}

.div-sjk .div-dhk #rq #p-rq {
    text-align: center;
    color: rgb(255, 255, 255);
    line-height: 31px;
    font-size: 21px;
    text-shadow: rgb(119, 119, 119) 0 0 18px;
}

.div-sjk .div-dhk #rq #p-xq {
    text-align: center;
    color: rgb(255, 255, 255);
    line-height: 50px;
    font-size: 30px;
    text-shadow: rgb(121, 121, 121) 0 0 18px;
}

.div-ssk {
    width: 100%;
    display: flex;
    /* display: flex;实现flex弹性布局 */
    justify-content: center;
    /* justify-content: center;让内容水平居中对齐 */
    align-items: center;
    /* align-items: center;让内容垂直居中对齐 */
}

.div-ssk #q {
    width: 360px;
    height: 30px;
    padding: 0px 3px;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: rgb(8, 8, 8) 0 0 35px;
    font-size: 18px;
}

.div-ssk #a-ssj {
    display: block;
    text-decoration: none;
    line-height: 37px;
    text-align: center;
    font-size: 23px;
    color: rgba(233, 233, 233, 0.8);
    height: 38px;
    width: 83px;
    background-color: rgba(18, 18, 18, 0.8);
    box-shadow: rgb(8, 8, 8) 0 0 37px;
}